<h1>Kittens</h1>
<ul>
  <% @kittens.each do |kitten| %>
    <li>
      <%= render kitten %>
      <%= link_to 'Show', kitten %>
      <%= link_to 'Edit', edit_kitten_path(kitten) %>
      <%= link_to 'Destroy', kitten, data: { turbo_method: :delete } %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'New kitten', new_kitten_path %></p>
